@model TestMVCProject.Models.AddEntityDataVM
@{
}
<h1>Add Entity</h1>
<form method="post", action="Add">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label for="">Surame</label>
        <input type="text" class="form-control" asp-for="Surname">
    </div>
    <div class="form-group">
        <label for="">Age</label>
        <input type="number" class="form-control" asp-for="Age">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>